.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.nav-link a,
.item-name {
  text-decoration: none;
  font-size: 19px;
  /* z-index: 9; */
  color: white;
  font-weight: 500;
}
.deitals-item-name {
  z-index: 12 !important;
  color: white;
  font-size: 60px;
  padding-top: 150px !important;
}
#order-banner {
  height: 50vh;
  margin-top: 60px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);

  left: 0;
  top: 0;
  width: 100vw;
}

.buyer-details {
  display: grid;
  margin-top: 70px;
  justify-content: center;
}
.buyer-details input {
  width: 400px;
  padding: 7px;
  margin: 10px;
  border: 1px solid gainsboro;
}
