nav {
  height: 60px;
  background-color: black;
}
nav a {
  font-size: 17px;
  margin-right: 20px;
  color: white !important;
  font-weight: 500;
}
.singout-btn {
  height: 35px;
  padding: 0 15px;
  margin-top: 5px;
  font-weight: 500;
  border: none;
  margin-right: 40px;
}

.navTitle {
  text-decoration: none;
  padding-left: 300px;
  font-size: 25px;
}

/*--------------------
    media query
-------------------*/
/* for mobile */
@media (max-width: 601px) {
  .navTitle {
    padding-left: 10px;
    font-size: 19px;
  }
}
