body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 23em);
  justify-content: center;
  margin-top: 50px;
  column-gap: 50px;
  position: relative;
  row-gap: 20px;
}

.details-button {
  position: absolute;
  margin-top: 100px;
  margin-left: 130px;
  border: 1px solid #ffff;
  background-color: #ffc107;
  padding: 5px 10px;
  display: none;
  transition: 4s !important;
}
.product:hover .details-button {
  display: block !important;
  z-index: 76;
}
.product:hover .product {
  opacity: 0.25;
}

.product p {
  font-size: 14px;
}
.items-container aside {
  background-color: rgb(247, 233, 208);
}
.items-container aside:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}
